<aside class="sidebar">
  <div class="brand">
    <i class="fa-solid fa-screwdriver-wrench"></i>
    <div>
      <h1>Electromecánica</h1>
      <p>Seminario</p>
    </div>
  </div>

  <nav class="menu">
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="fa-solid fa-chart-line"></i>
      Dashboard
    </a>

    <a routerLink="/clientes" routerLinkActive="active">
      <i class="fa-solid fa-users"></i>
      Clientes
    </a>

    <a routerLink="/vehiculos" routerLinkActive="active">
      <i class="fa-solid fa-car"></i>
      Vehículos
    </a>

    <a routerLink="/servicios" routerLinkActive="active">
      <i class="fa-solid fa-gears"></i>
      Servicios
    </a>
  </nav>
</aside>